.about {
  padding: 80px 20px;
  text-align: center;
  background: #fff0f5;
  color: #333;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.about p {
  max-width: 840px;
  margin: 30px auto 20px;
  line-height: 2;
}