.categories {
  text-align: center;
  padding: 80px 10%;
  background: linear-gradient(to right, #f9f9f9, #fce4ec);
  flex: auto;
  display: flex;
  flex-direction: column;
}

.category-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #f6b0ba;
  justify-content: center;
  gap: 20px;
  height: 200px;
  width: 100%;
}

.category-card {
  background: #ffe4ed;
  border-radius: 10px;
  padding: 20px 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.category-card:hover {
  background: #f794a3;
  transform: scale(1.05);
}
