.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #111;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ff6392;
}

.auth-buttons {
  display: flex;
  gap: 0.8rem;
}
.icon {
  width: 100%;
  height: 50px;
  filter: invert(20%) sepia(90%) saturate(4000%) hue-rotate(320deg) brightness(85%) contrast(90%);

}
.login-btn,
.signup-btn {
  border: 1px solid #ff6392;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 800;
}

.login-btn {
  background-color: transparent;
  color: #ff6392;
}

.signup-btn {
  background-color: #ff6392;
  color: black;
}

.signup-btn:hover {
  opacity: 0.9;
}
.nav button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 0 15px;
  transition: 0.3s;
}

.nav button:hover {
  color: #ff99bb;
}

