@import "tailwindcss";


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #ffffff, #f3d7e5, #eb8fb7, #ff6392);
  display: flex;
  justify-content: center;
  overflow-X: hidden;
  align-items: center;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 0.5s ease-in-out;
}


